# Ignore everything
*
!.gitignore
!README.md



# Allow directories
!ITS-Board/
!ITS-Board/Programs/
!ITS-Board/Programs/Stack
!ITS-Board/Programs/Stack/Inc/
!ITS-Board/Programs/Stack/Src/

ITS-Board/Programs/Stack/README.md
ITS-Board/README.md

# Allow specific files
#!ITS-Board/Programs/Stack/Inc/udp_server.h
!ITS-Board/Programs/Stack/Inc/rpc_client.h
!ITS-Board/Programs/Stack/Inc/app_stub.h
!ITS-Board/Programs/Stack/Inc/idl.h
!ITS-Board/Programs/Stack/Inc/marshall.h
!ITS-Board/Programs/Stack/Inc/caching_proxy.h
!ITS-Board/Programs/Stack/Inc/moveAdapter.h
!ITS-Board/Programs/Stack/Inc/stateService.h
!ITS-Board/Programs/Stack/Inc/rpc_server.h
!ITS-Board/Programs/Stack/Inc/moveAdapter_client.h
!ITS-Board/Programs/Stack/Inc/stateService_client.h

!ITS-Board/Programs/Stack/Src/main.c
!ITS-Board/Programs/Stack/Src/app_stub.c
!ITS-Board/Programs/Stack/Src/rpc_client.c
!ITS-Board/Programs/Stack/Src/marshall.c
!ITS-Board/Programs/Stack/Src/caching_proxy.c
!ITS-Board/Programs/Stack/Src/moveAdapter_client.c
!ITS-Board/Programs/Stack/Src/stateService_client.c
!ITS-Board/Programs/Stack/Src/rpc_server.c

#!ITS-Board/Programs/Stack/Src/rest_lvl0.c
#!ITS-Board/Programs/Stack/Src/udp_server.c
